<!-- <p>
  forget works!
</p> -->
<button (click)="back()">Back</button>
  <h3 style="text-align: center">Find your email
      Enter your phone number or recovery email</h3>
<div style="margin-left:20%;margin-right:20% ">
    <form [formGroup]="forgetpasword" (ngSubmit)="forgetpaswordMe(forgetpasword)">
        <label for="username">your email Adress or Phone number</label>
          <div class="form-group">
          <input type="text" formControlName='email' class="form-control"  required>
          </div>
          <div class="form-group">
              <label for="username">username</label>
          <input type="text" formControlName='username'  class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]='!forgetpasword.valid'>submit</button>
          </form>
        </div>